<div id="knobfragment">
  <div id="kdcompute_choice_datatype">
    <input id="modeUpload" type="radio" value="Upload" name="mode" class="knobE" checked="checked" hidden="" />
  </div>
</div>
<table id="table_knobs" class="table">
  <tr>
    <th>Variables</th>
    <th>Input</th>
    <th>Validation Message</th>
  </tr>
  <tr id="knobfragment">
    <td>Hapmap.hmp.txt</td>
    <td>
      <input id="hapmapFile" name="file_kdcompute_knob" onchange="assignChangeListener('hapmapFile');" class="knobE" type="file" />
    </td>
    <td id="messagehapmapFile"></td>
  </tr>
  <tr id="knobfragment">
    <td>sample.file</td>
    <td>
      <input id="sampleFile" name="file_kdcompute_knob" onchange="assignChangeListener('sampleFile');" class="knobE" type="file" />
    </td>
    <td id="messagesampleFile"></td>
  </tr>
  <tr id="knobfragment">
    <td>summary.file</td>
    <td>
      <input id="summaryFile" name="file_kdcompute_knob" onchange="assignChangeListener('summaryFile');" class="knobE" type="file" />
    </td>
    <td id="messagesummaryFile"></td>
  </tr>
  <tr id="knobfragment">
    <td>marker.file</td>
    <td>
      <input id="markerFile" name="file_kdcompute_knob" onchange="assignChangeListener('markerFile');" class="knobE" type="file" />
    </td>
    <td id="messagemarkerFile"></td>
  </tr>
</table>
