<h2>Additional Resources</h2>

<ul>
<li><a href="resources/QC_Specification.xlsx" download>Download Specification</a></li>
</ul>


<h2>Version 0.14.3</h2>

<ul>
<li>Samples by germplasm type now have both mean and median values calculated</li>
<li>Plugin version now added to dataset summary</li>
<li>All decimal values rounded to 3 places, with exception to p-values</li>
<li>Bugfix: Only relevant ranges are colored</li>
<li>Changed coloring scheme to a much more continuous variant</li>
<li>All columns at resized to fit all text</li>
<li>Bugfix: Parentage averages are now correctly calculated</li>
<li>Added negative log10 p-values to Chi-sq</li>
</ul>


<h2>Version 0.14.2</h2>

<p>Fixed bug in calculation of averages by germplasm type</p>

<h2>Version 0.14.2</h2>

<p>Similarity matrix is no longer added to report if samples exceed 500. CSV counterparts are still added</p>

<h2>Version 0.14.1</h2>

<p>Dominant sample averages (Summary_by_germplasm_type) fields changes from Hom/Het to Zero/Ones</p>

<h2>Version 0.14.0</h2>

<p>Parental match fields add to F1 along with calculation of contained and expected F1 adjusted by feedback, field names for sample averages trimmed of 'median' for non-statistical fields and some optimizations. If datasets have more than 500 samples, similarity matrices will not be imported into Report but still provided as separate CSVs.</p>

<h2>Version 0.13.0</h2>

<h3>Changes Pair-wise reproducilbity</h3>

<p>Added columns <b>non_missing_observations_count</b> and <b>non_missing_observations_freq</b> to tally the number of comparable markers (i.e. both markers being non-missing) between the two samples</p>

<h3>Changes to Column-wise Similarity Matrix</h3>

<p>Add columns <b>similarity_matrix_row</b> and <b>similarity_matrix_column</b> which maps to the cell position in Similarity_matrix_with_meta. Entires are now sorted by descending similarity.</p>

<h2>Version 0.12.0</h2>

<h3>Reproducibility Averages</h3>

<p>Mismatch/Ratio scores are now average for each sample to describe overall reproducibility of a single sample to help determine likelihood that the sample belongs to the specified group; a high average mismatch would suggest the sample is not a member of the group.</p>